<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dnevnik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Dnevnik.Properties.Settings>
            <setting name="nameLess1" serializeAs="String">
                <value />
            </setting>
            <setting name="nameLess2" serializeAs="String">
                <value />
            </setting>
            <setting name="nameLess3" serializeAs="String">
                <value />
            </setting>
            <setting name="nameLess4" serializeAs="String">
                <value />
            </setting>
            <setting name="nameLess5" serializeAs="String">
                <value />
            </setting>
            <setting name="nameLess6" serializeAs="String">
                <value>Ответ на уроке</value>
            </setting>
            <setting name="nameLess7" serializeAs="String">
                <value>Работа с контурными картами,Самостоятельная работа,Контрольное списывание,Проверочная работа</value>
            </setting>
            <setting name="nameLess8" serializeAs="String">
                <value>Аудирование,Сочинение,Изложение</value>
            </setting>
            <setting name="nameLess9" serializeAs="String">
                <value>Практическая работа,Лабораторная работа,Творческая работа</value>
            </setting>
            <setting name="nameLess10" serializeAs="String">
                <value>Контрольная,АКР,ИКР,КПИ,Контрольный диктант,Тест,Входная контрольная работа,Работа над ошибками</value>
            </setting>
            <setting name="welcome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="change_log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="averBall1" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="averBall2" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="averBall3" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="typeBall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyAccess" serializeAs="String">
                <value />
            </setting>
        </Dnevnik.Properties.Settings>
    </userSettings>
</configuration>